<div class="landing-sky">
    <div class="landing-sky__header">
        <div class="container">
            
            <div class="landing-sky__header-content">
                <a href="#" class="landing-sky__logo"><img src="./assets/images/logo.png" alt=""></a>
                <div class="menu-mobile">
                    <button class="navbar-toggler">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="landing-sky__menu-content">
                    <ul class="landing-sky__menu menu-on-contact">
                        <li>
                            <a href="#">
                                <img src="./assets/images/phone.png" alt="">
                                HOTLINE:0909022885
                            </a>
                        </li>
                        <li>
                            <a href="#fb">
                                <img src="./assets/images/fb.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#yt">
                                <img src="./assets/images/yt.png" alt="">
                            </a>
                        </li>
                    </ul>
                    <ul class="landing-sky__menu menu-list">
                        <li>
                            <a link="scroll_2" href="#">GIỚI THIỆU</a>
                        </li>
                        <li>
                            <a link="scroll_3" href="#">THỰC ĐƠN</a>
                        </li>
                        <li>
                            <a link="scroll_5" href="#">KHUYẾN MÃI</a>
                        </li>
                        <li>
                            <a link="scroll_7" href="#">ĐẶT BÀN</a>
                        </li>
                        <li>
                            <a link="scroll_8" href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="landing-sky__contain">
        <div class="section section1">
            <div class="content">
                <div class="slider slider-banner slider1">
                    <div class="item">
                        <a href="#">
                                <img src="./assets/images/banner-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                                <img src="./assets/images/banner-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                                <img src="./assets/images/banner-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                                <img src="./assets/images/banner-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section2 scroll_active scroll_2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="section__item section__item--left">
                            <div class="section__title">giới thiệu</div>
                            <div class="section__sub-title">Nhà hàng Sky</div>
                            <div class="section__description">
                                <p>
                                    NHÀ HÀNG SKY  Tọa Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                                <p>
                                    NHÀ HÀNG SKY  Tọa Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="section__item section__item--right">
                            <div class="section__slider">
                                <div class="slider2">
                                    <div class="item">
                                        <img src="./assets/images/section-2-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-2-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-2-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-2-img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section section3 scroll_active scroll_3">
            <div class="container">
                <div class="row">

                    <div class="col-md-5 show-mobile">
                        <div class="section__item section__item--left">
                            <div class="section__title">thực đơn</div>
                            <div class="section__description">
                                <p>
                                    NHÀ HÀNG SKY  Tọa Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                                <p>
                                    NHÀ HÀNG SKY  Tọa lạc tại vị trí đắc địa gần sân bay 
                                    trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  Tọa lạc tại 
                                    vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="section__item section__item--right">
                            <div class="section__slider">
                                <div class="slider2">
                                    <div class="item">
                                        <img src="./assets/images/section-3-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-3-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-3-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-3-img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 hide-mobile">
                        <div class="section__item section__item--left">
                            <div class="section__title">thực đơn</div>
                            <div class="section__description">
                                <p>
                                    NHÀ HÀNG SKY  Tọa Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                                <p>
                                    NHÀ HÀNG SKY  Tọa lạc tại vị trí đắc địa gần sân bay 
                                    trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  Tọa lạc tại 
                                    vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="section section4 scroll_4">
            <div class="content">
                <div class="slider slider1">
                    <div class="item">
                        <img src="./assets/images/section-4-img.png" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/images/section-4-img.png" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/images/section-4-img.png" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/images/section-4-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="section section5 scroll_active scroll_5">
                <!-- <img src="./assets/images/section-5-img.jpg" alt=""> -->
            <div class="item">
                <div class="container">
                    <div class="item__promotion">
                        <div class="text">Giảm <span class="text-1">50%</span><span class="text-2">từ 16/05 đến 18/05</span></div>
                        <div class="text">Giảm <span class="text-1">20%</span><span class="text-2">từ 19/05 đến 09/06</span></div>
                        <div class="text-other">Chương trình chỉ áp dụng cho thực đơn món ăn</div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="section section6 scroll_6">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="section__item section__item--left">
                            <div class="section__title">không gian nhà hàng</div>
                            <div class="section__description">
                                <p>
                                    NHÀ HÀNG SKY  Tọa Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                                <p>
                                    NHÀ HÀNG SKY  Tọa lạc tại vị trí đắc địa gần sân bay 
                                    trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  Tọa lạc tại 
                                    vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  Tọa lạc 
                                    tại vị trí đắc địa gần sân bay Tân Sơn Nhất NHÀ HÀNG SKY  
                                    Tọa lạc tại vị trí đắc địa gần sân bay Tân Sơn Nhất 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="section__item section__item--right">
                            <div class="section__slider">
                                <div class="slider2">
                                    <div class="item">
                                        <img src="./assets/images/section-6-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-6-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-6-img.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="./assets/images/section-6-img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section7 scroll_active scroll_7">
            <div class="container">
                <div class="section__item">
                    <div class="section__title">Đặt bàn</div>
                    <div class="section__description">
                        <p>
                            Quý khách vui lòng đặt bàn theo biểu mẫu dưới đây,<br>
                            Chúng tôi sẽ xác nhận thông tin đặt bàn theo yêu cầu của quý khách.<br>
                            Hoặc để được tư vấn thông tin chi tiết, quý khách vui lòng liên hệ hotline: <a class="phone" href="#">0909022885</a>
                        </p>
                    </div>
                </div>
                <div class="row section__form-book">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Họ tên:">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Số điện thoại:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email:">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="datepicker" placeholder="Ngày đến:">
                        </div>
                        <div class="form-group">
                            <input id="example" type="text" class="form-control"  placeholder="Thời gian">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Số lượng khách:">
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <textarea name="" placeholder="Yêu cầu khác:" id="" cols="30"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn book-now hvr-shutter-out-horizontal" data-toggle="modal" data-target="#book-now">Đặt bàn ngay</button>
                </div>
            </div>
        </div>

        <div class="section section8 scroll_active scroll_8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="logo-footer">
                            <div class="img">
                                <img src="./assets/images/logo-footer.png" alt="">
                            </div>
                        </div>
                    
                        <div class="contact-info">
                            <div class="title">THÔNG TIN LIÊN HỆ</div>
                            <div class="address">
                                <p class="sub-title">Nhà hàng SKY Restaurent</p>
                                <p class="sub-des">Địa chỉ:202 Hoàng Văn Thụ, Phường 9, Quận Phú Nhuận, Hồ Chí Minh</p>
                            </div>
                            <div class="hotline">
                                <p class="sub-title">Hotline:</p>
                                <p class="sub-des">0909022885</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-7">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.141089749667!2d106.66862891480089!3d10.800504192305175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752928ca3214c7%3A0x2942d1fbced0c438!2zMjAyIEhvw6BuZyBWxINuIFRo4bulLCBQaMaw4budbmcgOSwgUGjDuiBOaHXhuq1uLCBI4buTIENow60gTWluaA!5e0!3m2!1sen!2s!4v1557849649492!5m2!1sen!2s" 
                            height="480" frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div id="book-now" class="modal fade modal_book-now" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <p>Đặt bàn thành công! Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default hvr-buzz-out" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>