body {
    font-family: 'Roboto-Regular';
    border: none;
    font-size: 16px
}

.error {
    color: red;
    font-weight: normal
}

.contain-global{
   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
    width: 79.167vw;
    // @media (max-width: 1600px) {
    //     width: 72.917vw;
    // }
    // @media (max-width:1500px) {
    //     width: 80vw;
    // }
    @media (max-width:1200px) {
        width: 80%;
    }
}
.pc{
    @media(max-width:768px){
        display: none;
    }
}
.mobile{
    display: none;
    @media(max-width:768px){
        display: block;
    }
}

ul{
    list-style: none
}

.btn-buynow{
    max-width: 200px;
    width: 100%;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    border:3px solid #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gotham-Bold';
    background-color: #ffdc00;
    position: relative;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3);    
    &:hover{
        text-decoration: none
    }
    span{
        color: #7c5723;
        font-size: 16pt;
        background-color: #ffdc00;
        border-radius: 30px;
        border: 3px solid #7d5825;
        display: block;
        height: 50px;
        transition: all 0.2s;
        &:hover{
            background-color: #fff;
        }
    }


}
.slider{
    position: relative;
    border: 6px solid transparent;
    border-left: none;
    border-right: none;
    -webkit-border-image: url('../assets/images/border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../assets/images/border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('../assets/images/border.png') 30 round;
    &.slider-banner{
        .slick-dots{
            li{
                button{
                    background-color: #fff;
                }
            }
        }
    }
}
.slick-slider{
    .slick-dots{
        padding: 0;
        margin-bottom: 0;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        bottom: 40px;
        li{
            display: inline-block;
            transition: all 0.2s;
            margin: 0 4px;
            button{
                background-color: #15528f;
                border: none;
                font-size: 0;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                padding: 0;
                outline: none
            }
            &.slick-active{
                button{
                    height: 14px;
                    width: 14px;
                    background-color: #ffcd34;
                }
            }
        }
    }
}