.landing-sky{
	&__header{
		position: fixed;
		width: 100%;
		z-index: 2;
		background-color: #fff;
		top: 0;
	}
	&__logo{
		display: inline-block;
		max-width: 135px;	
		margin-top: 10px;
		img{
			width: 100%;
		}
	}
	&__header-content{
		position: relative;
	}
	&__menu-content{
		width: calc(100% - 130px);
		float: right;
		@media(max-width:992px){
			display: none;
			width: 100%;
		}
		&.active{
			display: block
		}
	}

	.menu-mobile{
		display: none;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		@media(max-width:992px){
			display: block;
		}
		button{
			background: #fff;
			border: 1px solid #084e8f;
			color: #084e8f;
		}
		
	}

	&__menu{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
		li{
			display: inline-block;
			
		}
		&.menu-on-contact{
			float: right;
			@media(max-width:992px){
				float: none;
				text-align: right
			}
			li{
				padding: 30px 0;
				
				@media(max-width:1200px){
					padding: 15px 0;
				}
				a{
					margin-left: 5px;
					margin-right: 5px;
					
				}
				&:first-child{
					a{
						background: #ffcd34;
					
						color: #000;
						border-radius: 10px;
						padding: 3px 5px;
						margin-left: 15px;
						margin-right: 5px;
						font-family: 'Roboto-Bold';
						font-size: 18px;
					}
				}
				
			}
		}
		&.menu-list{
			float: right;
			@media(max-width:992px){
				float: none;
				text-align: right
			}
			li{
				@media(max-width:992px){
					display: block
				}
				a{
					padding: 30px 26px;
					display: inline-block;
					font-size: 18px;
					transition: all 0.2s;
					color:#084e8f;
					@media(max-width:1200px){
						padding: 15px 25px;
					}
					@media(max-width:992px){
						padding-right: 0;
						width: 100%;
					}
					&.active{
						font-family: 'Roboto-Black';
					}
				}
				&.active{
					a{
						font-family: 'Roboto-Black';
					}
				}
				&:last-child{
					a{
						padding-right: 0
					}
				}
			}
		}
		
	}

	&__contain{
		margin-top: 95px;
	}

	/*
	section
	*/
	.section{
		&__item{
			
		}
		&__title{
			font-size: 40px;
			text-transform: uppercase;
			color: #084e8f;
			
		}
		&__sub-title{
			font-size:22px;
			text-transform: uppercase;
			font-family: 'Roboto-Bold';
			color: #084e8f;
			
		}
		&__description{
			text-align: justify;
			color: #084e8f;
			
		}

		&__slider{
			position: relative;
			padding-left: 55px;
			padding-right: 55px;
			.slick-arrow{
				height: 35px;
				width: 35px;
				border-radius: 50%;
				border: 1px solid #0d5085;
				background: #fff;
				outline: none;
				&.slick-prev{
					position: absolute;
					top: 50%;
					left: -50px;
					transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}
				&.slick-next{
					position: absolute;
					top: 50%;
					right: -50px;
					transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}
			}
			.slick-dots{
				bottom: -30px;
			}
			.item{
				img{
					width: 100%;
				}
			}
		}
	}

	.section2{
		border: 6px solid transparent;
		border-left: none;
		border-right: none;
		border-top: none;
		-webkit-border-image: url('../assets/images/border.png') 30 round; /* Safari 3.1-5 */
		-o-border-image: url('../assets/images/border.png') 30 round; /* Opera 11-12.1 */
		border-image: url('../assets/images/border.png') 30 round;
		
		padding-bottom: 80px;
		padding-top: 80px;

		@media(max-width: 992px){
			padding-bottom: 40px;
			padding-top: 40px
		}

		.section__item{
			&--left{
				text-align: right;
				@media(max-width: 992px){
					text-align: center
				}
			}
			&--right{}
		}
		.section__title{
			margin-top: 45px;
			@media(max-width: 1200px){
				margin-top: 0;
			}
		}
		.section__sub-title{
			margin-top: 37px;
		}
		.section__description{
			margin-top: 20px;
		}
	}
	.section3{
		padding-bottom: 80px;
		padding-top: 80px;

		@media(max-width: 992px){
			padding-bottom: 40px;
			padding-top: 40px
		}

		.section__item{
			&--left{
				text-align: left;
				@media(max-width: 992px){
					text-align: center
				}
			}
			&--right{}
		}
		.section__title{
			margin-top: 120px;
			@media(max-width: 1200px){
				margin-top: 0;
			}
		}
		.section__description{
			margin-top: 30px;
		}
	}

	.section5{
		border: 6px solid transparent;
		border-left: none;
		border-right: none;
		border-top: none;
		-webkit-border-image: url('../assets/images/border.png') 30 round; /* Safari 3.1-5 */
		-o-border-image: url('../assets/images/border.png') 30 round; /* Opera 11-12.1 */
		border-image: url('../assets/images/border.png') 30 round;
		.item{
			img{
				width: 100%;
			}
		}
	}

	.section6{
		padding-bottom: 80px;
		padding-top: 80px;

		@media(max-width: 992px){
			padding-bottom: 40px;
			padding-top: 40px
		}

		.section__item{
			&--left{
				text-align: right;
				@media(max-width: 992px){
					text-align: center
				}
			}
			&--right{}
		}
		.section__title{
			margin-top: 120px;
			@media(max-width: 1200px){
				margin-top: 0;
			}
		}
		.section__description{
			margin-top: 30px;
		}
	}

}
